{% extends 'base.html' %}

{% block content %}
    <h3 class="mb-3">All issues</h3>
    <div class="list-group">
        {% for issue in issues %}
            <a href="{% url 'issue_detail' issue.pk %}" class="list-group-item list-group-item-action">
                <span class="d-block">{{ issue.summary }}</span>
                <span class="badge badge-secondary">{{ issue.type }}</span>
                <span class="badge badge-secondary">{{ issue.status }}</span>
            </a>
        {% endfor %}
    </div>
{% endblock %}