{% extends 'base.html' %}

{% block title %}Delete status{% endblock %}

{% block content %}
    <div class="alert alert-warning" role="alert">
        <span>Are you sure want to delete status "<strong>{{ status }}</strong>" ?</span>
    </div>
    <form method="POST" action="{% url 'status_delete' status.pk %}" class="text-center">
        {% csrf_token %}
        <a href="{% url "statuses" %}" class="btn btn-secondary">Cancel</a>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>

{% endblock %}