{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="mb-3">All issues</h3>
        <a href="{% url 'issue_add' %}" class="btn btn-outline-info">Add issue</a>
    </div>
    <div class="list-group">
        {% for issue in issues %}
            <a href="{% url 'issue_detail' issue.pk %}" class="list-group-item list-group-item-action">
                <span class="d-block">{{ issue.summary }}</span>
                <span class="badge badge-secondary">{{ issue.type }}</span>
                <span class="badge badge-secondary">{{ issue.status }}</span>
            </a>
        {% endfor %}

        {% if is_paginated %}
            {% include 'partial/pagintaion.html' %}
        {% endif %}
    </div>
{% endblock %}